@import '../vars';

.user {
    margin-top: 30px;

	&__list {
		list-style-type: none;
    }
    
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 30px;
        background-color: $white;
        border-radius: 12px;
    }

    &__fancybox-link {
        color: inherit;
    }

    &__fancybox-link:hover {
        color: inherit;
        text-decoration: none;
    }
    
	&__photo {
       border-radius: 100%;
	}

}
